
.UnderNav{
    border-radius: 1px;
    width: 100%;
    height: 300px;
    background-color:rgb(58, 175, 169);
}
.AboutLogo{
    width: 250px;
}
#AboutContent{
    color: gray;
    font-size: 20px;
    text-align: center;
    direction: rtl;
}
#AboutLogo{
    text-align: center;
}
#AboutH1{
    text-align: center;
}



