<footer class="footer">
    <hr>
    <div class="container">
        <div class="row" style="justify-content: center">
            <img class="col-auto" id="FooterLogo" src="assets/pics/Logo2.png">
        </div>
        <div class="row" style="justify-content: center">
            <a class="col-auto" id="SocialMediaLogo" href="www.twitter.com"><img src="assets/pics/twitter.png"></a>
            <a class="col-auto" id="SocialMediaLogo" href="www.instagram.com"><img src="assets/pics/instagram.png"></a>
            <a class="col-auto" id="SocialMediaLogo" href="www.facebook.com"><img src="assets/pics/facebook.png"></a>
        </div>
    </div>
</footer>