
#navbar{
    direction: rtl;
    overflow: hidden;
    position: fixed;    
    height: 85px;
    /* padding-top:30px; */
    /* padding-bottom:30px; */
    /* position: absolute;; */
    top:0;
    width:100%;
    z-index:1;
    transition: background-color 0.3s ease-in;
}

.nav-link{
    color:black;
    font-size:20px;
}
.nav-link:hover{
    color:aquamarine;
}
.nav-colored { 
    background-color:#000; 
} 
 .nav-transparent { 
    background-color:transparent;
}
#logo{
    top: 0;
    float: left;
    max-height: 100px;
    width:150px;
    /* font-size: 25px;  */
    /* color:white; */
    cursor: pointer;
    }
