<body>
    <div>
        <img src="assets/pics/process3.jpg" id="ProcessImg">
    </div>

    <h1 id="ProcessTopic">תהליך בניית האתר</h1>

    <div class="container round">
        <div class="row">
            <div id="rounddiv" class="col">
                <h2>איפיון</h2>
            </div>
            <div class="col" id="RoundDivText1">Lorem Ipsum is simply dummy<br> text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy<br> text ever since the 1500s, when an
                unknown <br>
                printer took a galley of type and <br> scrambled it to make a type specimen book. It has survived not
                only <br>
                Lorem Ipsum is simply dummy<br> text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy<br> text ever since the 1500s, when an
                unknown <br>
                printer took a galley of type and <br> scrambled it to make a type specimen book. It has survived not
                only <br>
            </div>
        </div>



        <div class="row" style="direction:ltr">
            <div id="rounddiv"  class="col">
                <h2>עיצוב</h2>
            </div>
            <div class="col" id="RoundDivText2">Lorem Ipsum is simply dummy<br> text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy<br> text ever since the 1500s, when an
                unknown <br>
                printer took a galley of type and <br> scrambled it to make a type specimen book. It has survived not
                only <br>
                Lorem Ipsum is simply dummy<br> text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy<br> text ever since the 1500s, when an
                unknown <br>
                printer took a galley of type and <br> scrambled it to make a type specimen book. It has survived not
                only <br> </div>
        </div>



        <div class="row">
            <div id="rounddiv"  class="col">
                <h2>פיתוח</h2>
            </div>
            <div class="col" id="RoundDivText3">Lorem Ipsum is simply dummy<br> text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy<br> text ever since the 1500s, when an
                unknown <br>
                printer took a galley of type and <br> scrambled it to make a type specimen book. It has survived not
                only <br>
                Lorem Ipsum is simply dummy<br> text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy<br> text ever since the 1500s, when an
                unknown <br>
                printer took a galley of type and <br> scrambled it to make a type specimen book. It has survived not
                only <br> </div>
        </div>



        <div class="row" style="direction:ltr">
            <div id="rounddiv"  class="col">
                <h2>קידום</h2>
            </div>
            <div class="col" id="RoundDivText4">Lorem Ipsum is simply dummy<br> text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy<br> text ever since the 1500s, when an
                unknown <br>
                printer took a galley of type and <br> scrambled it to make a type specimen book. It has survived not
                only <br>
                Lorem Ipsum is simply dummy<br> text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy<br> text ever since the 1500s, when an
                unknown <br>
                printer took a galley of type and <br> scrambled it to make a type specimen book. It has survived not
                only <br>
            </div>
        </div>



        <div class="row">
            <div id="rounddiv"  class="col">
                <h2>השקה</h2>
            </div>
            <div class="col" id="RoundDivText5">Lorem Ipsum is simply dummy<br> text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy<br> text ever since the 1500s, when an
                unknown <br>
                printer took a galley of type and <br> scrambled it to make a type specimen book. It has survived not
                only <br>
                Lorem Ipsum is simply dummy<br> text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy<br> text ever since the 1500s, when an
                unknown <br>
                printer took a galley of type and <br> scrambled it to make a type specimen book. It has survived not
                only <br> </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>