<body>
<video src="assets/pics/Street.mp4" autoplay loop id="OpeningVideo"></video>
<h1 id="TextOnVideo1">המקום לבניית,עיצוב וקידום האתר שלכם,</h1>
<h2 id="TextOnVideo2">בואו להפוך חלום למציאות.</h2>
<div id="BodyContent">
    <div id="OurName">
        <div class="container">
            <div class="row">
                <svg class="col _1LGPcGiAwvNAySV0GUsZCr" width="330.36307673970236" height="50.48273559444645"
                    viewBox="0 0 294.4836146106559 45">
                    <path class="" d="M271.5836146106559,20.1H0V25.6H294.4836146106559V20.1Z" fill="#c5c6c7"></path>
                    <use xlink:href="#__id619_0"></use>
                </svg>
                <h1 id="CompanyName" class="col">XDA</h1>
                <svg class="col _1LGPcGiAwvNAySV0GUsZCr" width="330.36307673970236" height="50.48273559444645"
                    viewBox="0 0 294.4836146106559 45">
                    <path class="" d="M271.5836146106559,20.1H0V25.6H294.4836146106559V20.1Z" fill="#c5c6c7"></path>
                    <use xlink:href="#__id619_0"></use>
                </svg>
            </div>
        </div>
        <h4 id="text">נעים להכיר</h4>
    </div>
    <div id="HomeContent">
        היום כדי להשאיר את החותם הכי משמעותי ולקדם את העסק שלכם בצורה הטובה ביותר <br>אתם צריכים להיות כאן, בסביבה
        טכנולוגית וחדשנית.
        <br> אנחנו מאמינים ביצירתיות, בקו צעיר ומרענן שיוביל אתכם הכי גבוה שאפשר.
        <br> יחד נבנה עבורכם אתר בהתאמה אישית ומדוייקת לצרכים שלכם, הכולל פתרונות מתקדמים ועיצוב חדשני.
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <h1 id="OurTeam" class="col">הדרך שלכם להצלחה</h1>
        </div>
    </div>
    <div class="container round">
        <div class="row">
            <a href="process.html">
            <div id="rounddiv" class="col"><i class="fa fa-envelope xl icon"></i></div>
        </a>
            <a href="process.html">
                <div id="rounddiv" class="col"><i class="fa fa-globe icon"></i></div>
            </a>
            <a href="process.html">
                <div id="rounddiv" class="col"><i class="fa fa-home icon"></i> </div>
            </a>
        </div>
    </div>
   